.hero {
  @include flex_center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/content/hero@1x.png");
  //background-image: -webkit-image-set(url('../img/content/hero@1x.webp') 1x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #DCE2F2;

  @include retina {
    background-image: url("../img/content/hero@2x.png");
    //background-image: -webkit-image-set(url('../img/content/hero@2x.webp') 2x);
  }

  &__container {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    height: calc(100vh - 100px);

    @include mobilePortrait {
      height: calc(100vh - 60px);
    }

    @include mobileLandscape {
      height: calc(100vh - 60px);
    }

    @include tabletLandscape {
      height: calc(100vh - 60px);
    }
  }

  &__content {
    @include flex_column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    max-width: 1000px;
    width: 100%;
    height: 100%;

    @include stopScaling {
      max-width: 100%;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0.3em;
    width: 100%;

    @include tablet {
      padding: 2em;
    }

    @include tabletLandscape {
      padding: 1em;
    }

    @include mobile {
      justify-content: space-around;
      padding: 1.3em 0.3em;
    }

    @media (max-width: 540px) and (orientation: portrait) {
      flex-direction: column;
      justify-content: center;
    }

    @include stopScaling {
      padding: 5em 0;
    }

    p {
      @include list-reset;
      font-family: $politica;
      font-size: 3.2em;
      font-weight: 300;
      color: var(--color-primary);
      letter-spacing: 0.10em;
      text-transform: uppercase;
      position: relative;

      text-shadow:
        0.0125em 0.025em 0 rgba(239, 239, 239, 0.75),
        0.05em 0.025em 0 rgba(170, 68, 68, 0.8);

      animation: glitch 1200ms infinite;

      &:first-child span,
      &:last-child span {
        transform: translate(-0.001em, -0.0125em);
        opacity: 0.6;
      }

      &:first-child span {
        clip-path: polygon(0px 0px, 100% 0px, 96.81% 56.14%, 2px 49.93%);
        animation: glitch 1000ms infinite;
      }

      &:last-child span {
        clip-path: polygon(1px 47.8%, 100.68% 48.41%, 100% 100%, 0px 100%);
        animation: glitch 1100ms infinite;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
      }

      @include tablet {
        font-size: 4em;
      }

      @include mobile {
        font-size: 3.2em;
      }

      @include stopScaling {
        font-size: 2.5em;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3em;
    width: 100%;

    @include mobilePortrait {
      justify-content: space-between;
    }

    @include mobileLandscape {
      justify-content: space-between;
      margin-bottom: 2em;
    }

    @include tabletLandscape {
      margin-bottom: 1.5em;
    }
  }

  &__btn {
    font-family: $raleway;
    font-weight: 400;
    background-color: rgba(196, 196, 196, 0.13);

    @include mobilePortrait {
      flex-basis: calc(50% - 10px);
    }

    @include mobileLandscape {
      flex-basis: calc(50% - 30px);
    }
  }
}
