.menu {
        &__trigger {
                font-size: 30px;
                background: transparent;
                border: none;
                display: none;
        }

        &__nav{
                display: flex;
        }

        &__trigger-close {
                button {
                        display: none;
                }                
        }

        &__mobile-search {
                display: none;
        }

        &__primary-links > ul {
                display: flex;
        }

        &__primary-links > ul > li + li {
                margin-left: 20px;
        }

        &__primary-links > ul > li > a {
                font-size: 1.1rem;
                cursor: pointer;

                &:hover {
                        color: $hover;
                        border-bottom: 1px solid $hover;
                }

                &:active {
                        opacity: 0.8;
                        outline: none;
                }
        }

        &__primary-links ul li {
                position: relative;                 
        }

        &__primary-links ul li ul {
                position: absolute;
                left: 0;
                display: none;
                background: $white;
                opacity: 0.8;
        }

        &__primary-links ul li ul li {
                display: block;
                width: 210px;
                padding: 10px 10px;
                line-height: 1.2;             
        } 
        
        &__primary-links ul li ul li a {
                font-size: .9rem; 

                &:hover {
                        color: $hover;
                        border-bottom: 1px solid $hover;
                }

                &:active {
                       opacity: 0.8;
                       outline: none;
                }
        }        

        &__nav-icons {
                ul {
                        display: flex;  
                        height: 30px;
                }

                li {
                        margin-left: 30px;
                }                   
        }
}

.sub-menu:hover ul {
        display: block;
        transition: all 0.2s ease-out;
}

.nav-icon {
        &:hover {
                fill: $hover;
        }

        &:active {
                opacity: 0.7;
        }
}

@media screen and (max-width: 804px) {
        .menu {
                &__trigger {
                        display: block; 

                        button {
                                background: transparent;
                                border: none;
                                padding: 0;
                        }
                        
                        svg:active {
                                fill: $hover;
                        }
                }

                &__logo {
                        position: absolute;
                        left: 80px;
                }

                &__overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 20;
                        display: none;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);

                        &.active {
                                display: block;
                        }
                }

                &__primary {
                        position: fixed;
                        width: 400px;
                        height: 100vh;
                        background: $bg-color;
                        margin-right: 60px;
                        top: 0;
                        left: -100%;
                        transition: all 0.3s ease-out;
                        will-change: transform;
                        z-index: 100;
                        overflow: auto;

                        &.active {
                                left: 0;
                                z-index: 100;
                        }
                }

                &__trigger-close {
                        width: 100%;
                        height: 60px;     
                        
                        button {
                                display: block;
                                background: transparent;                
                                width: 60px;
                                height: 60px;
                                float: right;
                                border: none;

                                svg:active {
                                        fill: $hover;
                                }
                        }
                }

                &__mobile-search {
                        display: block;
                        position: relative;
                }

                &__input-field {                        
                        position: relative;

                        input[type=text] {
                                min-height: 60px;
                                padding: 0 20px;
                                font-size: 1rem;
                                width: 100%;
                                border-top: 1px solid $brown;
                                border-bottom: 1px solid $brown;
                                border-left: 0;
                                border-right: 0;                                
                                background: transparent;

                                &:focus {
                                        background-color: $white;
                                        opacity: 0.8;
                                        border: 2px solid $base-layer;
                                }
                        }                

                        button {
                                position: absolute;
                                width: 60px;
                                height: 60px;
                                top: 0;
                                right: 0;
                                background: none;
                                border: none;
                        }
                }

                &__primary-links  > ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                }

                &__primary-links > ul > li {
                        border-bottom: 1px solid $brown;
                        width: 100%;
                        padding: 16px 20px;
                        margin-right: 0;
                }

                &__primary-links > ul > li + li {
                        margin-left: 0;
                }

                &__primary-links > ul > li > a {
                        font-size: 1rem;
                        padding: 0;

                        &:active {
                                color: $hover;
                        }
                }

                &__primary-links ul li.active ul {
                        display: block;
                        position: relative;
                        background: $bg-color;
                        margin: 20px 0 0;
                        opacity: 1;
                }

                &__primary-links ul li ul li {
                        width: 100%;
                        padding: 10px;
                        border-top: 1px solid $brown;
                }

                &__primary-links ul li ul li a {
                        font-size: .8em; 
                        padding: 10px;
                }
        }

        .sub-menu span.toggle-icon:before {
                content: " ";
                background: url(../img/icons/arrow-down.svg) 50% no-repeat;
                position: absolute;
                top: 23px;
                right: 20px;
                width: 15px;
                height: 18px;
                font-weight: bold;
        }

        .sub-menu.active span.toggle-icon:before {
                content: " ";
                background: url(../img/icons/arrow-up.svg) 50% no-repeat;
                transition: all 0.2s ease;
        }     

        .sub-menu:hover ul {
                display: none;
        }

        .sub-menu.active {
                padding-bottom: 0;
        }
}

@media screen and (max-width: 400px) {
        .menu {
                &__logo {
                        position: absolute;
                        left: 50px;
                }

                &__primary {  
                        width: calc(100% - 60px);
                        height: 100vh;
                        top: 0;
                        left: -100%;
                        transition: all 0.3s ease-out;
                        will-change: transform;      
                }

                &__primary-links ul li ul li a {
                        font-size: .9em;
                }

                &__nav-icons ul li {
                        margin-left: 1.5em;
                }
        }
}