.progressive {
  position: relative;
  display: block;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;

    &.preview {
      filter: blur(2vw);
      transform: scale(1.05);
    }

    &.hide {
      opacity: 0;
    }

    &.origin {
      position: absolute;
      left: 0;
      top: 0;
      animation: origin 1.5s ease-out;
    }

    &.origin-scale {
      position: absolute;
      left: 0;
      top: 0;
      animation: origin-scale 1s ease-out;
    }
  }
}
