// ====== COLORS ====== //

$bg-color: #DEDFE5;
$base-layer: #B1B8C4;
$brown: #2C2021;
$white: #fff;
$black: #000;
$hover: #DD7D41;


// ====== GLOBAL STYLES ====== //

:root {
    box-sizing: border-box; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// ====== BODY RULES ====== //
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: calc(0.8em + 1vw);
	line-height: 1.5;
	font-family: Montserrat, Arial,  sans-serif;
	background-color: $bg-color;
	color: $brown;
	text-rendering: optimizeSpeed;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
        padding: 0;
}

a {
        color: inherit;
        text-decoration: none;
        transition: all 0.2s;

        &:focus {
                outline: 0;
        }        

        &:-moz-focusring {
                color: $hover;
                outline: $hover auto 0.5px;
        }  
        
        &:focus-visible {
                color: $hover;
                outline: $hover auto 0.5px;
        }
}

input, 
button, 
textarea,
select {
        font: inherit;
}

svg {
        fill: $brown;
}

.visually-hidden {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;

        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.page-wrapper {
        max-width: 1400px;
        margin: auto;
        position: relative;
        box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}
